<div layout="column" ng-cloak>
    <form>
        <!-- <div ng-show="variables.step == 1">
            <div layout="row">
                <md-input-container class="md-block" flex="30">
                    <label>Apellido</label>
                    <input ng-model="candidate.D_APELLIDO" id="D_APELLIDO" name="D_APELLIDO" required>
                </md-input-container>

                <md-input-container class="md-block" flex="30">
                    <label>Segundo Apellido</label>
                    <input ng-model="candidate.D_SEGUNDO_APELLIDO" id="D_SEGUNDO_APELLIDO" name="D_SEGUNDO_APELLIDO">
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Nombre</label>
                    <input ng-model="candidate.D_NOMBRE" id="D_NOMBRE" name="D_NOMBRE" required>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex=20>
                    <label>Tipo Documento</label>
                    <md-select ng-model="candidate.D_TIPO_DOCUMENTO" id="D_TIPO_DOCUMENTO" name="D_TIPO_DOCUMENTO" required>
                        <md-option value="DNI">DNI</md-option>
                        <md-option value="PASAPORTE">PASAPORTE</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Número identidad</label>
                    <input ng-model="candidate.N_IDENTIDAD" id="N_IDENTIDAD" name="N_IDENTIDAD" required>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Número seguridad social</label>
                    <input ng-model="candidate.N_SEGURIDAD_SOCIALD" id="N_SEGURIDAD_SOCIAL" name="N_SEGURIDAD_SOCIAL">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Pais</label>
                    <input ng-model="candidate.D_PAIS" id="D_PAIS" name="D_PAIS" required>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Provincia</label>
                    <input ng-model="candidate.D_PROVINCIA" id="D_PROVINCIA" name="D_PROVINCIA" required>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Localidad</label>
                    <input ng-model="candidate.D_LOCALIDAD" id="D_LOCALIDAD" name="D_LOCALIDAD" required>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex=80>
                    <label>Domicilio</label>
                    <input ng-model="candidate.D_DOMICILIO" id="D_DOMICILIO" name="D_DOMICILIO" required>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>Codigo Postal</label>
                    <input ng-model="candidate.N_CP" id="N_CP" name="N_CP" required>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>E-mail</label>
                    <input ng-model="candidate.D_MAIL" id="D_MAIL" name="D_MAIL" required>
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Teléfono</label>
                    <input ng-model="candidate.N_TELEFONO" id="N_TELEFONO" name="N_TELEFONO" required>
                </md-input-container>

                <md-input-container class="md-block" flex>
                    <label>Teléfono alternativo</label>
                    <input ng-model="candidate.N_TELEFONO_ALT" id="N_TELEFONO_ALT" name="N_TELEFONO_ALT">
                </md-input-container>
            </div>

            <div layout="row">
                <md-input-container class="md-block" flex="40">
                    <label>Fecha de nacimiento</label>
                    <md-datepicker ng-model="candidate.F_NACIMIENTO" id="F_NACIMIENTO" name="F_NACIMIENTO" required></md-datepicker>
                </md-input-container>

                <md-input-container class="md-block" flex="10">
                    <label>Edad</label>
                    <input ng-model="candidate.N_EDAD" id="N_EDAD" name="N_EDAD" disabled>
                </md-input-container>

                <md-input-container class="md-block" flex="30">
                    <label>Estado Civil</label>
                    <md-select ng-model="candidate.D_ESTADO_CIVIL" id="D_ESTADO_CIVIL" name="D_ESTADO_CIVIL" required>
                        <md-option ng-value="status" ng-repeat="status in civilStatus">{{status}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-block" flex="20">
                    <label>Hijos</label>
                    <input ng-model="candidate.N_HIJOS" id="N_HIJOS" name="N_HIJOS">
                </md-input-container>
            </div>
            <div layout="row" layout-align="end none">
                <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextStep()">Siguiente</md-button>
            </div>
        </div>

        <div ng-show="variables.step == 2">
            <div layout="row" layout-align="end none">
                <md-button class="md-raised md-primary material-button f-montserrat" ng-click="prevoiousStep()">Anterios</md-button>
                <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextStep()">Siguiente</md-button>
            </div>
        </div> -->

        <wizard on-finish="finishedWizard()" on-cancel="cancelledWizard()" indicators-position="top"> 
            <wz-step wz-title="Información General">
                <h1>This is the first step</h1>
                <p>Here you can use whatever you want. You can use other directives, binding, etc.</p>
                <input type="submit" wz-next value="Continue" />
            </wz-step>
            <wz-step wz-title="Continuing">
                <h1>Continuing</h1>
                <p>You have continued here!</p>
                <input type="submit" wz-next value="Go on" />
            </wz-step>
            <wz-step wz-title="More steps">
                <p>Even more steps!!</p>
                <input type="submit" wz-next value="Finish now" />
            </wz-step>
        </wizard>
    </form>
</div>