<div layout="column">
    <form ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-selected="variables.tab">
                <md-tab label="Datos Personales">
                    <md-content>
                        <div layout="row">
                            <h2><span>Datos Personales</span></h2>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex="30">
                                <label>Apellido</label>
                                <input ng-model="candidate.D_APELLIDO" id="D_APELLIDO" name="D_APELLIDO" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex="30">
                                <label>Segundo Apellido</label>
                                <input ng-model="candidate.D_SEGUNDO_APELLIDO" id="D_SEGUNDO_APELLIDO" name="D_SEGUNDO_APELLIDO">
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Nombre</label>
                                <input ng-model="candidate.D_NOMBRE" id="D_NOMBRE" name="D_NOMBRE" required>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=20>
                                <label>Tipo Documento</label>
                                <md-select ng-model="candidate.D_TIPO_DOCUMENTO" id="D_TIPO_DOCUMENTO" name="D_TIPO_DOCUMENTO"
                                    required>
                                    <md-option value="DNI">DNI</md-option>
                                    <md-option value="PASAPORTE">PASAPORTE</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Número identidad</label>
                                <input ng-model="candidate.N_IDENTIDAD" id="N_IDENTIDAD" name="N_IDENTIDAD" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Número seguridad social</label>
                                <input ng-model="candidate.N_SEGURIDAD_SOCIALD" id="N_SEGURIDAD_SOCIAL" name="N_SEGURIDAD_SOCIAL">
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=60>
                                <label>Nacionalidad</label>
                                <md-select ng-model="candidate.D_NACIONALIDAD" id="D_NACIONALIDAD" name="D_NACIONALIDAD"
                                    required>
                                    <md-option ng-value="nationality" ng-repeat="nationality in nationalities">{{nationality}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex="30">
                                <label>Estado Civil</label>
                                <md-select ng-model="candidate.D_ESTADO_CIVIL" id="D_ESTADO_CIVIL" name="D_ESTADO_CIVIL"
                                    required>
                                    <md-option ng-value="status" ng-repeat="status in civilStatus">{{status}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex="20">
                                <label>Sexo</label>
                                <md-select ng-model="candidate.B_SEXO" id="B_SEXO" name="B_SEXO" required>
                                    <md-option ng-value="HOMBRE">Hombre</md-option>
                                    <md-option ng-value="MUJER">Mujer</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex="10">
                                <label>Hijos</label>
                                <input type="" ng-model="candidate.N_HIJOS" id="N_HIJOS" name="N_HIJOS">
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>E-mail</label>
                                <input ng-model="candidate.D_MAIL" id="D_MAIL" name="D_MAIL" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex="40">
                                <label>Fecha de nacimiento</label>
                                <md-datepicker ng-model="candidate.F_NACIMIENTO" id="F_NACIMIENTO" name="F_NACIMIENTO"
                                    required></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex="10">
                                <label>Edad</label>
                                <input ng-model="candidate.N_EDAD" id="N_EDAD" name="N_EDAD" disabled>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Pais</label>
                                <input ng-model="candidate.D_PAIS" id="D_PAIS" name="D_PAIS" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Provincia</label>
                                <input ng-model="candidate.D_PROVINCIA" id="D_PROVINCIA" name="D_PROVINCIA" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Localidad</label>
                                <input ng-model="candidate.D_LOCALIDAD" id="D_LOCALIDAD" name="D_LOCALIDAD" required>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=80>
                                <label>Domicilio</label>
                                <input ng-model="candidate.D_DOMICILIO" id="D_DOMICILIO" name="D_DOMICILIO" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Codigo Postal</label>
                                <input ng-model="candidate.N_CP" id="N_CP" name="N_CP" required>
                            </md-input-container>
                        </div>

                        <div layout="row">

                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Teléfono</label>
                                <input ng-model="candidate.N_TELEFONO" id="N_TELEFONO" name="N_TELEFONO" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Teléfono alternativo</label>
                                <input ng-model="candidate.N_TELEFONO_ALT" id="N_TELEFONO_ALT" name="N_TELEFONO_ALT">
                            </md-input-container>
                        </div>

                        <div layout="row" layout-align="end none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Movilidad y Disponibilidad">
                    <md-content>
                        <div layout="row">
                            <h2><span>Movilidad</span></h2>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex="50">
                                <label>Licencia</label>
                                <md-select ng-model="candidate.D_LICENCIA" id="D_LICENCIA" name="D_LICENCIA" required>
                                    <md-option ng-value="license.value" ng-repeat="license in licenses">{{license.label}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_VEHICULO_PROPIO" aria-label="">
                                    Vehiculo Propio
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_TRABAJO_ACTUAL" aria-label="">
                                    Trabajo Actual
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_INSCRIPCION_DESEMPLEO" aria-label="">
                                    Inscripto Desempleo
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_COBRO_PRESTACION" aria-label="">
                                    Cobro de prestaciones
                                </md-checkbox>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex="25">
                                <md-checkbox ng-model="candidate.B_VISA_TRABAJO" aria-label="">
                                    Visa de trabajo
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex="35">
                                <label>Fin visa de trabajo</label>
                                <md-datepicker ng-model="candidate.F_FIN_VISA_TRABAJO" id="F_FIN_VISA_TRABAJO" name="F_FIN_VISA_TRABAJO"></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Medio de convocacion</label>
                                <md-select ng-model="candidate.D_MEDIO_CONVOCATORIA" id="D_MEDIO_CONVOCATORIA" name="D_MEDIO_CONVOCATORIA"
                                    required>
                                    <md-option ng-value="ad.value" ng-repeat="ad in announcement">{{ad.label}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <h2><span>Disponibilidad</span></h2>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Disponibilidad horaria</label>
                                <md-select ng-model="candidate.DISPONIBILIDAD_HORARIA" multiple>
                                    <md-optgroup label="Meats">
                                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                                    </md-optgroup>
                                    <md-optgroup label="Veggies">
                                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Tipo de contrato</label>
                                <md-select ng-model="selectedToppings" multiple>
                                    <md-optgroup label="Meats">
                                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
                                    </md-optgroup>
                                    <md-optgroup label="Veggies">
                                        <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-align="space-between none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Formación">
                    <md-content>
                        <div layout="row">
                            <h2><span>Formación</span></h2>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_SIN_FORMACION" aria-label="">
                                    Sin formacion
                                </md-checkbox>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex=20>
                                <label>Formacion Primaria</label>
                                <input ng-model="candidate.D_FORM_PRIMARIA" id="D_FORM_PRIMARIA" name="D_FORM_PRIMARIA"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Fin Estudios Primarios</label>
                                <md-datepicker ng-model="candidate.F_FIN_PRIMARIA" id="F_FIN_PRIMARIA" name="F_FIN_PRIMARIA"
                                    required></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block" flex=20>
                                <label>Titulo ciclo formativo</label>
                                <input ng-model="candidate.D_CICLO_FORMATIVO" id="D_CICLO_FORMATIVO" name="D_CICLO_FORMATIVO"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Fin ciclo formativo</label>
                                <md-datepicker ng-model="candidate.F_FIN_FORMATIVO" id="F_FIN_FORMATIVO" name="F_FIN_FORMATIVO"
                                    required></md-datepicker>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=70>
                                <label>Titulo secundaria</label>
                                <input ng-model="candidate.D_FORM_SECUNDARIA" id="D_FORM_SECUNDARIA" name="D_FORM_SECUNDARIA"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex=30>
                                <label>Fin estudios secundaria</label>
                                <md-datepicker ng-model="candidate.F_FIN_SECUNDARIA" id="F_FIN_SECUNDARIA" name="F_FIN_SECUNDARIA"
                                    required></md-datepicker>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=20>
                                <label>Titulo universidad</label>
                                <input ng-model="candidate.D_FORM_UNIVERSITARIA" id="D_FORM_UNIVERSITARIA" name="D_FORM_UNIVERSITARIA"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex=30>
                                <label>Fin estudios universidad</label>
                                <md-datepicker ng-model="candidate.F_FIN_UNIVERSITARIA" id="F_FIN_UNIVERSITARIA" name="F_FIN_UNIVERSITARIA"
                                    required></md-datepicker>
                            </md-input-container>

                            <md-input-container class="md-block" flex=20>
                                <label>Titulo de certificacion</label>
                                <input ng-model="candidate.D_CERTIFICACION" id="D_CERTIFICACION" name="D_CERTIFICACION"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex=30>
                                <label>Fin de certificacion</label>
                                <md-datepicker ng-model="candidate.F_FIN_CERTIFICACION" id="F_FIN_CERTIFICACION" name="F_FIN_CERTIFICACION"
                                    required></md-datepicker>
                            </md-input-container>
                        </div>

                        <div layout="row">

                            <md-input-container class="md-block" flex=70>
                                <label>Titulo complementaria</label>
                                <input ng-model="candidate.D_COMPLEMENTARIA" id="D_COMPLEMENTARIA" name="D_COMPLEMENTARIA"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Fin complementaria</label>
                                <md-datepicker ng-model="candidate.F_FIN_COMPLEMENTARIA" id="F_FIN_COMPLEMENTARIA" name="F_FIN_COMPLEMENTARIA"
                                    required></md-datepicker>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-align="space-between none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Informática e Idiomas">
                    <md-content>
                        <div layout="row">
                            <h2><span>Informatica</span></h2>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_OFFICE" aria-label="">
                                    Office
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_WORD" aria-label="">
                                    Word
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-checkbox ng-model="candidate.B_EXCEL" aria-label="">
                                    Excel
                                </md-checkbox>
                            </md-input-container>


                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label>Nivel Office</label>
                                <md-select ng-model="candidate.D_OFFICE_NIVEL" id="D_OFFICE_NIVEL" name="D_OFFICE_NIVEL"
                                    required>
                                    <md-option ng-value="level.value" ng-repeat="level in computerLevels">{{level.label}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Nivel Word</label>
                                <md-select ng-model="candidate.D_WORD_NIVEL" id="D_WORD_NIVEL" name="D_WORD_NIVEL"
                                    required>
                                    <md-option ng-value="level.value" ng-repeat="level in computerLevels">{{level.label}}</md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Nivel Excel</label>
                                <md-select ng-model="candidate.D_EXCEL_NIVEL" id="D_EXCEL_NIVEL" name="D_EXCEL_NIVEL"
                                    required>
                                    <md-option ng-value="level.value" ng-repeat="level in computerLevels">{{level.label}}</md-option>
                                </md-select>
                            </md-input-container>

                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <md-checkbox ng-model="candidate.B_OTROS" aria-label="">
                                    Otros
                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Nombre</label>
                                <input ng-model="candidate.D_COMPLEMENTARIA" id="D_COMPLEMENTARIA" name="D_COMPLEMENTARIA"
                                    required md-maxlength="40">
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <label>Nivel</label>
                                <md-select ng-model="candidate.D_OTROS" id="D_OTROS" name="D_OTROS" required>
                                    <md-option ng-value="level.value" ng-repeat="level in computerLevels">{{level.label}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <h2><span>Idiomas</span></h2>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex-offset="15" flex>
                                <label>Nivel Oral</label>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label>Nivel Escrito</label>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <label>Español</label>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_ESPANOL_ORAL" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" value="{{level.value}}">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_ESPANOL_ESCRITO" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" value="{{level.value}}">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <label>Ingles</label>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_INGLES_ORAL" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_INGLES_ESCRITO" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <label>Portugues</label>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_PORTUGUES_ORAL" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_PORTUGUES_ESCRITO" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <label>Catalan</label>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_CATALAN_ORAL" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_CATALAN_ESCRITO" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <label>Euskera</label>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_EUSKERA_ORAL" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_EUSKERA_ESCRITO" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row">
                            <md-input-container class="md-block" flex=15>
                                <label>Idioma</label>
                                <input ng-model="candidate.D_OTRO" id="D_OTRO" name="D_OTRO" required md-maxlength="15">
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_OTRO_ORAL" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>

                            <md-input-container class="md-block" flex>
                                <md-radio-group ng-model="candidate.D_OTRO_ESCRITO" layout="row">
                                    <md-radio-button class="md-primary" ng-repeat="level in LanguageLevel" ng-value="level.value">
                                        {{level.label}}
                                    </md-radio-button>
                                </md-radio-group>
                            </md-input-container>
                        </div>

                        <div layout="row" layout-align="space-between none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Experiencia Profesional">
                    <md-content>
                        <div layout="row">
                            <h2><span>Experiencia Profesional</span></h2>
                        </div>
                        <div>
                            <div layout="row">
                                <h3><span>Experiencia {{}}</span></h3>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block" flex="60">
                                    <label>Experiencia</label>
                                    <input ng-model="candidate.D_EXPERIENCIA_0" id="D_EXPERIENCIA_0" name="D_EXPERIENCIA_0">
                                </md-input-container>
                                <md-input-container class="md-block" flex="40">
                                    <label>Funcion</label>
                                    <input ng-model="candidate.D_FUNCIONES_0" id="D_FUNCIONES_0" name="D_FUNCIONES_0">
                                </md-input-container>
                            </div>

                            <div layout="row">
                                <md-input-container class="md-block" flex="30">
                                    <label>Fecha de inicio</label>
                                    <md-datepicker ng-model="F_FECHA_COMIENZO_0" id="" name="" required></md-datepicker>
                                </md-input-container>
                                <md-input-container class="md-block" flex="30">
                                    <label>Fecha de fin</label>
                                    <md-datepicker ng-model="F_FECHA_COMIENZO_0" id="" name="" required></md-datepicker>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <md-button class="md-fab md-primary" aria-label="">
                               +
                            </md-button>
                        </div>

                        <div layout="row" layout-align="start none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat">Postularse</md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </form>
</div>