<div layout="column">
    <form ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-selected="variables.tab">
                <md-tab label="Datos Personales">
                    <md-content>
                        <div class="" ng-include="'src/templates/candidate/datos-generales.html'"></div>
                    </md-content>

                    <div layout="row" layout-align="end none">
                        <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                    </div>
                </md-tab>

                <md-tab label="Movilidad y Disponibilidad">
                    <md-content>
                        <div class="" ng-include="'src/templates/candidate/movilidad-y-disponibilidad.html'"></div>
                    </md-content>

                    <div layout="row" layout-align="space-between none">
                        <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                        <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                    </div>
                </md-tab>

                <md-tab label="Formación">
                    <md-content>
                        <div class="" ng-include="'src/templates/candidate/formacion.html'"></div>

                        <div layout="row" layout-align="space-between none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Informática e Idiomas">
                    <md-content>
                        <div class="" ng-include="'src/templates/candidate/informatica-e-idiomas.html'"></div>

                        <div layout="row" layout-align="space-between none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="nextTab()">Siguiente</md-button>
                        </div>
                    </md-content>
                </md-tab>

                <md-tab label="Experiencia Profesional">
                    <md-content>
                        <div class="" ng-include="'src/templates/candidate/Experiencia-profesional.html'"></div>

                        <div layout="row" layout-align="start none">
                            <md-button class="md-raised md-primary material-button f-montserrat" ng-click="previousTab()">Volver</md-button>
                            <md-button class="md-raised md-primary material-button f-montserrat">Postularse</md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </form>
</div>