<!-- <div class="relative-parent">
    <div class="absolute-centered">
        <md-button class="md-raised">Button</md-button>
        <md-button class="md-raised">Button</md-button>
    </div>
    
</div> -->

<div layout="column">
    <div layout="row">
        <md-input-container flex>
            <label>Apellido</label>
            <input ng-model="user.title">
        </md-input-container>

        <md-input-container flex>
            <label>Segundo Apellido</label>
            <input ng-model="user.title">
        </md-input-container>

        <md-input-container flex>
            <label>Nombre</label>
            <input ng-model="user.title">
        </md-input-container>
    </div>
</div>