<form ng-cloak name="form1" novalidate>
    <div layout="row">
        <h2><span>Datos Personales</span></h2>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex="30">
            <label>Apellido</label>
            <input ng-model="candidate.D_APELLIDO" id="D_APELLIDO" name="D_APELLIDO" required>
            <div ng-messages="form1.D_APELLIDO.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex="30">
            <label>Segundo Apellido</label>
            <input ng-model="candidate.D_SEGUNDO_APELLIDO" id="D_SEGUNDO_APELLIDO" name="D_SEGUNDO_APELLIDO">
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Nombre</label>
            <input ng-model="candidate.D_NOMBRE" id="D_NOMBRE" name="D_NOMBRE" required>
            <div ng-messages="form1.D_NOMBRE.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex=15>
            <label>Tipo Documento</label>
            <md-select ng-model="candidate.D_TIPO_DOCUMENTO" id="D_TIPO_DOCUMENTO" name="D_TIPO_DOCUMENTO" required>
                <md-option ng-value="document.value" ng-repeat="document in documentOptions">{{document.label}}</md-option>
            </md-select>
            <div ng-messages="form1.D_TIPO_DOCUMENTO.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Número identidad</label>
            <input ng-model="candidate.N_IDENTIDAD" id="N_IDENTIDAD" name="N_IDENTIDAD" required>
            <div ng-messages="form1.N_IDENTIDAD.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Número seguridad social</label>
            <input ng-model="candidate.N_SEGURIDAD_SOCIALD" id="N_SEGURIDAD_SOCIAL" name="N_SEGURIDAD_SOCIAL">
        </md-input-container>

        <md-input-container class="md-block" flex="15">
            <md-checkbox ng-model="candidate.B_CERTIFICACION_DISCAPACIDAD" ng-true-value="'Si'" ng-false-value="'No'" aria-label="">
                Discapacidad
            </md-checkbox>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex=60>
            <label>Nacionalidad</label>
            <md-select ng-model="candidate.D_NACIONALIDAD" id="D_NACIONALIDAD" name="D_NACIONALIDAD" required>
                <md-option ng-value="nationality.value" ng-repeat="nationality in nationalities">{{nationality.label}}</md-option>
            </md-select>
            <div ng-messages="form1.D_NACIONALIDAD.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex="30">
            <label>Estado Civil</label>
            <md-select ng-model="candidate.D_ESTADO_CIVIL" id="D_ESTADO_CIVIL" name="D_ESTADO_CIVIL" required>
                <md-option ng-value="status.value" ng-repeat="status in civilStatus">{{status.label}}</md-option>
            </md-select>
            <div ng-messages="form1.D_ESTADO_CIVIL.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex="20">
            <label>Sexo</label>
            <md-select ng-model="candidate.D_SEXO" id="D_SEXO" name="D_SEXO" required>
                <md-option ng-value="genre.value" ng-repeat="genre in genreOptions">{{genre.label}}</md-option>
            </md-select>
            <div ng-messages="form1.D_SEXO.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex="10">
            <label>Hijos</label>
            <input type="number" ng-model="candidate.N_HIJOS" id="N_HIJOS" name="N_HIJOS" ng-max="99">
            <div ng-messages="form1.N_HIJOS.$error">
                <div ng-message="max">Máximo 99</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>E-mail</label>
            <input ng-model="candidate.D_MAIL" id="D_MAIL" name="D_MAIL" required>
            <div ng-messages="form1.D_MAIL.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex="40">
            <label ng-if="candidate.F_NACIMIENTO != null">Fecha de nacimiento</label>
            <md-datepicker ng-model="candidate.F_NACIMIENTO" id="F_NACIMIENTO" name="F_NACIMIENTO" md-max-date="variables.birthMaxDate._d" md-placeholder="Fecha de nacimiento *" ng-change="calculateAge()" required></md-datepicker>
            <div ng-messages="form1.F_NACIMIENTO.$error">
                <div ng-message="required">Campo obligatorio</div>
                <div ng-message="valid">Fecha invalida</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex="10">
            <label>Edad</label>
            <input ng-model="candidate.N_EDAD" id="N_EDAD" name="N_EDAD" disabled>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Teléfono</label>
            <input ng-model="candidate.N_TELEFONO" id="N_TELEFONO" name="N_TELEFONO" required>
            <div ng-messages="form1.N_TELEFONO.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Teléfono alternativo</label>
            <input ng-model="candidate.N_TELEFONO_ALT" id="N_TELEFONO_ALT" name="N_TELEFONO_ALT">
        </md-input-container>
    </div>

    <div layout="row">
        <h2><span>Informacion domicilio</span></h2>
    </div>
        
    <div layout="row">
        <md-input-container class="md-block" flex>
            <label>Pais</label>
            <md-select ng-model="candidate.D_PAIS" id="D_PAIS" name="D_PAIS" disabled>
                <md-option ng-value="country.value" ng-repeat="country in countries">{{country.label}}</md-option>
            </md-select>
            <div ng-messages="form1.D_PAIS.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Provincia</label>
            <md-select ng-model="candidate.D_ZONA" id="D_ZONA" name="D_ZONA" required>
                <md-option ng-value="state.value" ng-repeat="state in states">{{state.label}}</md-option>
            </md-select>
            <div ng-messages="form1.D_ZONA.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Localidad</label>
            <input ng-model="candidate.D_SUBZONA" id="D_SUBZONA" name="D_SUBZONA" required>
            <div ng-messages="form1.D_SUBZONA.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex=80>
            <label>Domicilio</label>
            <input ng-model="candidate.D_DOMICILIO" id="D_DOMICILIO" name="D_DOMICILIO" required>
            <div ng-messages="form1.D_DOMICILIO.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex>
            <label>Codigo Postal</label>
            <input ng-model="candidate.N_CP" id="N_CP" name="N_CP" required>
            <div ng-messages="form1.N_CP.$error">
                <div ng-message="required">Campo obligatorio</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row" layout-align="end none">
        <md-button class="md-raised material-button f-montserrat" ng-click="nextTab('tab1')" ng-disabled="!form1.$valid">Siguiente</md-button>
    </div> 
</form>