<div layout="row">
    <h2><span>Formación</span></h2>
</div>

<div layout="row">
    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="candidate.B_SIN_FORMACION" aria-label="">
            Sin formacion
        </md-checkbox>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container class="md-block" flex=20>
        <label>Formacion Primaria</label>
        <input ng-model="candidate.D_FORM_PRIMARIA" id="D_FORM_PRIMARIA" name="D_FORM_PRIMARIA" required md-maxlength="40">
    </md-input-container>

    <md-input-container class="md-block" flex>
        <label>Fin Estudios Primarios</label>
        <md-datepicker ng-model="candidate.F_FIN_PRIMARIA" id="F_FIN_PRIMARIA" name="F_FIN_PRIMARIA" required></md-datepicker>
    </md-input-container>
    <md-input-container class="md-block" flex=20>
        <label>Titulo ciclo formativo</label>
        <input ng-model="candidate.D_CICLO_FORMATIVO" id="D_CICLO_FORMATIVO" name="D_CICLO_FORMATIVO" required
            md-maxlength="40">
    </md-input-container>

    <md-input-container class="md-block" flex>
        <label>Fin ciclo formativo</label>
        <md-datepicker ng-model="candidate.F_FIN_FORMATIVO" id="F_FIN_FORMATIVO" name="F_FIN_FORMATIVO" required></md-datepicker>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block" flex=70>
        <label>Titulo secundaria</label>
        <input ng-model="candidate.D_FORM_SECUNDARIA" id="D_FORM_SECUNDARIA" name="D_FORM_SECUNDARIA" required
            md-maxlength="40">
    </md-input-container>

    <md-input-container class="md-block" flex=30>
        <label>Fin estudios secundaria</label>
        <md-datepicker ng-model="candidate.F_FIN_SECUNDARIA" id="F_FIN_SECUNDARIA" name="F_FIN_SECUNDARIA" required></md-datepicker>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block" flex=70>
        <label>Titulo universidad</label>
        <input ng-model="candidate.D_FORM_UNIVERSITARIA" id="D_FORM_UNIVERSITARIA" name="D_FORM_UNIVERSITARIA" required
            md-maxlength="40">
    </md-input-container>

    <md-input-container class="md-block" flex=30>
        <label>Fin estudios universidad</label>
        <md-datepicker ng-model="candidate.F_FIN_UNIVERSITARIA" id="F_FIN_UNIVERSITARIA" name="F_FIN_UNIVERSITARIA"
            required></md-datepicker>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block" flex=20>
        <label>Titulo de certificacion</label>
        <input ng-model="candidate.D_CERTIFICACION" id="D_CERTIFICACION" name="D_CERTIFICACION" required md-maxlength="40">
    </md-input-container>

    <md-input-container class="md-block" flex=30>
        <label>Fin de certificacion</label>
        <md-datepicker ng-model="candidate.F_FIN_CERTIFICACION" id="F_FIN_CERTIFICACION" name="F_FIN_CERTIFICACION"
            required></md-datepicker>
    </md-input-container>

    <md-input-container class="md-block" flex=20>
        <label>Titulo complementaria</label>
        <input ng-model="candidate.D_COMPLEMENTARIA" id="D_COMPLEMENTARIA" name="D_COMPLEMENTARIA" required
            md-maxlength="40">
    </md-input-container>

    <md-input-container class="md-block" flex=30>
        <label>Fin complementaria</label>
        <md-datepicker ng-model="candidate.F_FIN_COMPLEMENTARIA" id="F_FIN_COMPLEMENTARIA" name="F_FIN_COMPLEMENTARIA"
            required></md-datepicker>
    </md-input-container>
</div>

