<div layout="row">
    <h2><span>Movilidad</span></h2>
</div>

<div layout="row">
    <md-input-container class="md-block" flex="50">
        <label>Licencia</label>
        <md-select ng-model="candidate.D_LICENCIA" id="D_LICENCIA" name="D_LICENCIA" required>
            <md-option ng-value="license.value" ng-repeat="license in licenses">{{license.label}}</md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="candidate.B_VEHICULO_PROPIO" aria-label="">
            Vehiculo Propio
        </md-checkbox>
    </md-input-container>

    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="candidate.B_TRABAJO_ACTUAL" aria-label="">
            Trabajo Actual
        </md-checkbox>
    </md-input-container>

    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="candidate.B_INSCRIPCION_DESEMPLEO" aria-label="">
            Inscripto Desempleo
        </md-checkbox>
    </md-input-container>

    <md-input-container class="md-block" flex>
        <md-checkbox ng-model="candidate.B_COBRO_PRESTACION" aria-label="">
            Cobro de prestaciones
        </md-checkbox>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block" flex="25">
        <md-checkbox ng-model="candidate.B_VISA_TRABAJO" aria-label="">
            Visa de trabajo
        </md-checkbox>
    </md-input-container>

    <md-input-container class="md-block" flex="35">
        <label>Fin visa de trabajo</label>
        <md-datepicker ng-model="candidate.F_FIN_VISA_TRABAJO" id="F_FIN_VISA_TRABAJO" name="F_FIN_VISA_TRABAJO"></md-datepicker>
    </md-input-container>

    <md-input-container class="md-block" flex>
        <label>Medio de convocacion</label>
        <md-select ng-model="candidate.D_MEDIO_CONVOCATORIA" id="D_MEDIO_CONVOCATORIA" name="D_MEDIO_CONVOCATORIA"
            required>
            <md-option ng-value="ad.value" ng-repeat="ad in announcement">{{ad.label}}</md-option>
        </md-select>
    </md-input-container>
</div>

<div layout="row">
    <h2><span>Disponibilidad</span></h2>
</div>

<div layout="row">
    <md-input-container class="md-block" flex>
        <label>Disponibilidad horaria</label>
        <md-select ng-model="candidate.DISPONIBILIDAD_HORARIA" multiple>
            <md-optgroup label="Meats">
                <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
            </md-optgroup>
            <md-optgroup label="Veggies">
                <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
</div>

<div layout="row">
    <md-input-container class="md-block" flex>
        <label>Tipo de contrato</label>
        <md-select ng-model="selectedToppings" multiple>
            <md-optgroup label="Meats">
                <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'meat' }">{{topping.name}}</md-option>
            </md-optgroup>
            <md-optgroup label="Veggies">
                <md-option ng-value="topping.name" ng-repeat="topping in toppings | filter: {category: 'veg' }">{{topping.name}}</md-option>
            </md-optgroup>
        </md-select>
    </md-input-container>
</div>

