body .page {
    border-top: 3px solid #1870ae;
    background-color: #f7f8fa;
    height: 100%;
}

body .page .site-branding {
    width: 190px;
    height: 152px;
    background: #0165ac;
    display: block;
    float: left;
    padding-top: 20px;
}

body .page .site-branding img {
    width: 150px;
    margin: 37px auto 0;
    display: block;
}

body .page .content-container {
    padding: 50px 0;
    position: relative;
}

body .footer {
    background: transparent url(../images/bg-footer.png) no-repeat top right;
    margin-top: 20px;
    padding-top: 20px;
}

body .footer .footer-iwrap {
    padding: 30px 20px;
}
