.login-container {
    width: 50%;
    margin: 0 auto;
}

.login-container .img-container {
    margin-bottom: 30px;
}

.login-container .img-container {
    background-color: #1870ae;
    width: 210px;
    height: 120px;
    display: inline-block;
}

.login-container .img-container img {
    margin-top: 25px;
}

.login-container md-input-container {
    text-align: left;
}