md-content {
    background-color: transparent;
    }
    md-content md-tabs .md-tab .md-ripple-container,
    .md-ripple-container {
        color: #0165ac;
    }
    md-content md-tabs md-ink-bar {
        background-color: #0165ac;
        color: #0165ac;
    }

.md-datepicker-input-container {
    width: 75%;
}

.material-button.md-button.md-raised {
    background-color: #0165ac !important;
    color: white;
    text-transform: capitalize;
    min-width: 150px;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
}

.material-button.md-button.md-raised:hover {
    opacity: .8;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
    background-color: #0165ac !important;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
    color: #0165ac;
}

.md-button md-progress-circular {
    display: inline-block;
    background-color: transparent !important;
    margin-left: 15px;
    vertical-align: middle;
}

.md-button md-progress-circular path {
    stroke: white !important;
}
