md-content {
    background-color: transparent;
    overflow-x: hidden;
    }
    md-content md-tabs .md-tab .md-ripple-container,
    .md-ripple-container {
        color: #0165ac;
    }
    md-content md-tabs md-ink-bar {
        background-color: #0165ac;
        color: #0165ac;
    }

.md-datepicker-input-container {
    width: 80%;
}

.material-button.md-button.md-raised {
    background-color: #0165ac;
    color: white;
    text-transform: capitalize;
    min-width: 150px;
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
}

.material-button.md-button.md-raised[disabled] {
    background-color: rgba(0,0,0,0.12);
}

.material-button.md-button.md-raised:not([disabled]):hover {
    opacity: .8;
    background-color: #0165ac;
}

md-checkbox.md-default-theme.md-checked .md-icon,
md-checkbox.md-checked .md-icon {
    background-color: #0165ac !important;
}

md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
    color: #0165ac;
}

.md-button md-progress-circular {
    display: inline-block;
    background-color: transparent !important;
    margin-left: 15px;
    vertical-align: middle;
}

.md-button md-progress-circular path {
    stroke: white !important;
}

.md-fab.md-mini.md-button {
    background-color: #0165ac !important;
}

.md-fab.md-mini.md-button md-icon {
    vertical-align: baseline;
}

md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: transparent;
    color: black;
}

md-table-pagination .label {
    color: black;
}

.md-block md-checkbox {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
}

.md-block .hint {
    font-size: 12px;
    line-height: 20px;
    color: grey;
}

md-input-container .md-datepicker-input.md-input {
    max-width: none;
}