.solicitudes-table {
    position: absolute;
    left: 350px;
    top: 50px;
    width: calc(100% - 400px);
    border-radius: 10px;
    box-shadow: 2px 1px 0px 1px rgba(72,70,70, .5);
    background-color: rgba(255, 255, 255, .2);
    color: white;
}

.animated.ng-enter,
.animated.ng-leave {
    -webkit-transition: 400ms linear all;
    -ms-transition: 400ms linear all;
    transition: 400ms linear all;
}

.animated.ng-enter,
.animated.ng-leave.ng-leave-active {
  opacity:0;
}

.animated.ng-leave,
.animated.ng-enter.ng-enter-active {
  opacity:1;
}

table.solicitudes-table>thead>tr>th,
table.solicitudes-table>tbody>tr>td {
    border: none;
    padding: 15px 10px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 15px;
}

table.solicitudes-table>tbody>tr>td {
    font-weight: 600;
}

.solicitudes-table td button.my-button {
    max-width: 60px;
    text-align: center;
}

.solicitudes-table td button.my-button i.fa {
    color: white;
    margin: 0;
}

.solicitudes-table td button.my-button.approve {
    background-color: #009246;
    margin-right: 5px;
}

.solicitudes-table td button.my-button.approve:hover {
    background-color: rgba(0, 146, 70, .8);
}

.solicitudes-table td button.my-button.deny {
    background-color: #ce2b37;
    margin-left: 5px;
}

.solicitudes-table td button.my-button.deny:hover {
    background-color: rgba(206, 43, 55, .8);
}

.solicitudes-table td i {
    margin-left: 10px;
}

.solicitudes-table td i.fa-check {
    color: #009246;
}

.solicitudes-table td i.fa-times {
    color: #ce2b37;
}