#rootwizard {
    margin-top: 30px;
}

#rootwizard .nav-pills>li{
    width: 16%;
    text-align: center;
}

#rootwizard .nav>li>a {
    display: inline-block;
}

#rootwizard .nav-pills>li.active>a,
#rootwizard .nav-pills>li.active>a:hover,
#rootwizard .nav-pills>li.active>a:focus,
#rootwizard .progress-bar {
    background-color: #428bca;
}

#rootwizard .progress {
    margin-bottom: 50px;
}

#rootwizard .tab-content label,
#rootwizard .tab-content input {
    font-family: 'Open Sans'; 
}

#rootwizard .tab-content .file-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#rootwizard #dni-image,
#rootwizard #recibo-image {
    max-height: 500px;
    max-width: 100%;
    margin-top: 30px;
}

#rootwizard .tab-content .next a:hover,
#rootwizard .tab-content .finish-btn:hover,
#rootwizard .tab-content .file-input + label:hover {
    background-color: #3071a9;
    box-shadow: none;
    text-decoration: none;
}

#rootwizard .tab-content .finish-btn {
    display: inline-block;
}

#rootwizard .tab-content .finish-btn,
#rootwizard .tab-content .next a,
#rootwizard .tab-content .file-input + label {
    width: 250px;
    text-align: center;
    background-color: #428bca;
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0.5px rgba(0,0,0,.26);
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
}

#rootwizard .tab-content .thumbnail {
    cursor: pointer;
}

#rootwizard .tab-content .thumbnail + div {
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans';
}

#rootwizard .tab-content h3,
#rootwizard .tab-content h4 {
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}